.game-container {
    width: 600px;
    height: 400px;
    background-color: black;
    position: relative;
  }
  
  .paddle {
    width: 20px;
    height: 100px;
    background-color: white;
    position: absolute;
    top: 150px;
  }
  
  .paddle-left {
    left: 50px;
  }
  
  .paddle-right {
    right: 50px;
  }
  
  .ball {
    width: 20px;
    height: 20px;
    background-color: white;
    position: absolute;
    top: 190px;
    left: 290px;
    border-radius: 50%;
  }